/* Dashboard Container */
.dashboard-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Dashboard Title */
.dashboard-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Dashboard Stats */
.dashboard-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

/* Dashboard Card */
.dashboard-card {
  flex-basis: calc(33% - 20px);
  background-color: #f6bd60;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Dashboard Stat Value */
.dashboard-stat {
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

/* Dashboard Card Title */
.dashboard-card-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.square-button {
  background-color: #6b839e;/* Gradient background */
  color: #ffffff;
  padding: 10px; /* Increased padding */
  font-size: 18px; /* Slightly increased font size */
  width: 180px;
  margin-left: 970px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, color 0.3s ease; /* Smooth transitions for color and scale only */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
}

.square-button:hover {
  background-color: #6b839e; /* Change gradient color on hover */
  transform: scale(1.1); /* Slightly scale up on hover */
  color: #212121; /* Change text color back to white on hover */
}


/* Additional styles can be added as needed for more advanced styling */



